{% extends "base.html" %}
{% block body %}
	<div>
		<h1>About Me</h2>
		<p>I was born in the Pittsburgh suburb of Brentwood in June 1996. I was born six and a half years after my older brother, Stephen, a skilled plumber and mechanic.
		My parents moved to the suburb of South Park less than a year later. I attended South Park Senior High School, where I flourished as student.
		My favorite subjects included history, mathematics, and technology. 
		<br /><br />After graduating in 2014 as the valedictorian of my class I began attending the University of Pittsburgh, majoring in electrical engineering. I
		switched my major to computer science and Japanese language and culture after one semester. It was then that I began to discover where my true passions and talents lied.
		I excelled in all of my classes and became skilled in multiple programming languages.
		<br /><br />I have also participated in multilple extra-curricular activities as well. The first of which was joining the University of Pittsburgh Varisty Marching Band as 
		a saxophone player. Through band I have come to enjoy being part of Pitt's culture.  Saturday's in the fall were made to be extremely fun due to football games, and I have 
		the opportunity to travel across the country to places such as Dallas, Fort Worth, Annapolis, Washington, and New York. I am also a member of Tau Beta Sigma, an honorary band
		sorority that serves the Pitt Band. As a junior I held the position of chapter historian and was elected as a member of the executive board my senior year.
		</p>
	</div>
{% endblock %}