{% extends "base.html" %}
{% block body %}
	<div>
		<h1>About Me</h2>
		<p>I was raised in the Pittsburgh suburb of South Park, where I excelled in technology, mathematics, and engineering.  
		 After graduating in 2014 as the valedictorian of my class I began attending the University of Pittsburgh, majoring in electrical engineering. I
		switched my major to computer science and Japanese language and culture after one semester. I excelled in more coures and became proficient in multiple programming languages.
		My core interests include web applications, operatings systems, and compilers.
		<br /><br />I have also participated in multilple extra-curricular activities as well. The first of which was joining the University of Pittsburgh Varisty Marching Band as 
		a saxophone player. I am also a member of Tau Beta Sigma, an honorary band
		sorority that serves the Pitt Band. As a junior I held the position of chapter historian and was elected as a member of the executive board my senior year.
		</p>
	</div>
{% endblock %}