{% extends "base.html" %}
{% block body %}
	<div>
		<h3>University of Pittsburgh</h3>
		<p>August 2014-present<br />Computer Science-Bachelor of Science<br />Japanese-Bachelor of Arts</p>
		<h5>Computer Science Courses Taken</h5>
		<ul>
			<li>Programming Languages for Web Applications</li>
			<li>Algorithm Analysis</li>
			<li>Introduction to Systems Software</li>
			<li>Computer Organization and Assembly Languages</li>
			<li>Data Structures</li>
			<li>Discrete Mathematics for Computer Science</li>
			<li>Intermediate Programming with Java</li>
		</ul>
		<h5>Japanese Courses Taken</h5>
		<ul>
			<li>Third Year Japanese 1 and 2</li>
			<li>Second Year Japanese 1 and 2</li>
			<li>First Year Japanese 1 and 2</li>
			<li>Japanese Theater</li>
			<li>Samurai and Western Films</li>
			<li>Japan and the West 1600-Present</li>
			<li>Introduction to Japanese Literature</li>
		</ul>
	</div>
{% endblock %}