{% extends "base.html" %}
{% block body %}
	<div>
		<h3>Undergraduate Teaching Assistant</h3>
		<h5>University of Pittsburgh<br />August 2017-present</h5>
		<p>Fall 2017: Data Structures<br />
		Lecturer: Dr. William Garrison III<br /><br />
		Spring 2017: Data Structures<br />
		Lecturer: Dr. John Ramirez</p>
		<ul>
			<li>Prepared review material weekly for classes</li>
			<li>Proctored quizes and ensured a professional learning evironment</li>
			<li>Held weekly staff meetings with supervising professor</li>
		</u>
	</div>
{% endblock %}