{% extends "base.html" %}
{% block body %}
	<div>
		<h3>Undergraduate Teaching Assistant</h3>
		<h5>University of Pittsburgh<br />August 2017-present</h5>
		<p>Fall 2017: Data Structures<br />
		Lecturer: Dr. William Garrison III<br /><br />
		Spring 2017: Data Structures<br />
		Lecturer: Dr. John Ramirez</p>
		<ul>
			<li>Prepared review material weekly for classes</li>
			<li>Proctored quizes and ensured a professional learning evironment</li>
			<li>Held weekly staff meetings with supervising professor</li>
		</u>

		<h3>Desktop Support Intern</h3>
		<h5>St. Clair Hospital, Pittsburgh, PA<br />May 2016 - July 2016</h5>
		<ul>
			<li>Re-imaged and configured 37 laptops and PCs</li>
			<li>Wrote PC configuration instruction guide to ensure efficient training for future interns</li>
			<li>Reconfigured master HDD for HP ProBook 650 laptops for use in a HDD Duplicator</li>
			<li>Logged 195 hours</li>
		</ul>

		<h3>Core Competencies</h3>
		<ul>
			<li>Data structures and object-oriented programming in Java</li>
			<li>Systems software and compilers in C</li>
			<li>Japanese(spoken and written)- working proficiency</li>
			<li>Web Applications in HTML, JavaScript and Python with Jinja templating</li>
			<li>Databases using Oracle and SQLAlchemy</li> 
		</u>
		<h3>Documentation Downloads</h3>
		<a href={{url_for('static', filename='JordanCarrResumeMH.doc')}} download>Resume: Updated 11/25/2017</a><br />
		<a href={{url_for('static', filename='Recursion.ppt')}} download>Sample Teaching Slideshow: Recursion</a><br />
		<a href={{url_for('static', filename='BinaryTrees.ppt')}} download>Sample Teaching Slidewhow: Binary Trees</a>
	</div>
{% endblock %}