{% extends "base.html" %}
{% block head %}
	<link href={{url_for('static', filename = 'slideshow.css')}} type='text/css' rel='stylesheet'/>
{% endblock %}
{% block body %}
	<div class="slides">
		<!--<ul class="theBody">
			<li>
				<span>Image 01</span>
				<div>
					<h3>Software Developer</h3>
				</div>
			</li>
			<li>
				<span>Image 02</span>
				<div>
					<h3>Musician</h3>
				</div>
			</li>
			<li>
				<span>Image 03</span>
				<div>
					<h3>Linguist</h3>
				</div>
			</li>
		</ul>-->
	</div>
	<div>
		<h1>Software Developer</h1>
		<p>Hello, I am a future software developer and computer science student at the University of Pittsburgh. Striving for the highest of standards, I hope to become
		one of the industry's most valuable assets. Please feel free to explore this site and discover my personal goals and mission.</p>
	</div>
{% endblock %}