{% extends "base.html" %}
{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='projects.js')}}"></script>
	<link href={{url_for('static', filename = 'projects.css')}} type='text/css' rel='stylesheet'/>
{% endblock %}
{% block body %}
	<!--Text drops down when title is clicked -->
	<div id="project1">
		<div class="top">
			<h4>This Website</h4>
		</div>
		<div id="bottom" class="bottom">
			<p>This website, which I view as an iteractive resume, was developed using extensive HTML pages, made interactive with JavaScript, and formatted with CSS style sheets and
			Jinja2 templating. All server based code, used to handle all requests, was written with Python's Flask module. All though this website is 
			relatively simple as much user interaction was developed as possible to make the website as interesting as possible.  This website does not represent
			the fullest extent of my capabilities. Since there are only so many ways to develop web resources and applications by only making a personal website 
			that acts as a fancy resume, more applications will be posted below. Some were simple projects that I developed in previous classes. Others were developed 
			out of the need for a hobby. Please feel free to explore them.
			</p>
		</div>
	</div>
	<p id="project1_onclick">Click me to learn more</p>
	
	<!--<div id="project2">
		<div class="top">
			<h4>Lego Forum Site</h4>
		</div>
		<div id="bottom2" class="bottom">
			<p>My next project.</p>
		</div>
	</div>
	<p id="project2_onclick">Click me to learn more</p>-->
{% endblock %}